#root {
    border:1px solid gray;
    border-radius:5px;
    padding:20px;
    margin-top: 20px;
    padding-bottom:50px;
}
.bg-light {
    background-color: white;
}
.bg-dark {
    background-color:black;
    border-color:white;
}
.light {
    color:black;
}
.dark {
    color:white;
}

.btn-light {
    background-color: gray;
    color:black;
}
.btn-dark{
    background-color:darkgray;
    color:white;
}
#up {
    border-radius:50%;
    height:50px;
    width:50px;
    background-color:lightgray;
    position:fixed;
    bottom:10px;
    right:10px;
    border-color:transparent;
}
