#root {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 65px;
}
#root-write {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 65px;
    resize:none;
    background-color:transparent;
    position:absolute;
    font-size:16px;
    line-height:18px;
    font-family: 'Times New Roman', Times, serif;
}

.bg-light {
    background-color: white;
}

.bg-dark {
    background-color: black;
    border-color: white;
}

.light {
    color: black;
}

.dark {
    color: white;
}

.gray {
    color: gray;
}

.btn-light {
    background-color: gray;
    color: black;
}

.btn-dark {
    background-color: darkgray;
    color: white;
}

#up,
#left,
#right {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-color: transparent;
}

#btn-container {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 10px;
}
.hidden { 
    visibility: hidden;
}
h3 {
    margin: 16px 0px;
    font-weight:normal;
    font-size:16px; 
}
.red {
    color:red;
}